* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
}

html,
body {
  position: fixed;
  overflow: hidden;
}

.pencils {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.6;
}
/* Settings bar */
.settings {
  background-color: rgb(228, 179, 224);
  width: 40vw;
  height: 60px;
  margin: 10px auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px outset rgb(241, 213, 239);
}
button {
  width: 40px;
  height: 50px;
  margin: 20px 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.clear img {
  width: 70%;
}
img {
  width: 100%;
}
ul {
  display: flex;
  list-style-type: none;
  text-align: left;
  font-size: 20px;
  font-family: sans-serif;
}
li {
  padding: 0 10px;
}
input {
  width: 50px;
  height: 30px;
}
.size {
  font-size: 15px;
  padding-left: 5px;
  width: 44px;
  height: 24px;
}
select {
  font-size: 15px;
  width: 74px;
  height: 30px;
  border: none;
}

/* Media queries */
@media (max-width: 750px) {
  .settings {
    width: 85vw;
    margin: 5px auto;
    padding: 0 10px;
  }
  ul {
    font-size: 15px;
  }
  button {
    width: 30px;
    height: 40px;
  }
  select {
    font-size: 13px;
  }
  .size {
    height: 30px;
  }
}
