* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
}

html,
body {
  position: fixed;
  overflow: hidden;
}

.pencils {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.6;
}
/* SETTINGS BAR */
.settings {
  background-color: rgb(250, 250, 250);
  box-shadow: 2px 4px 20px rgb(177, 175, 175);
  width: 40vw;
  height: 60px;
  margin: 50px auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul {
  display: flex;
  height: 50px;
  list-style-type: none;
  text-align: left;
  font-size: 15px;
  font-family: sans-serif;
}
li {
  padding: 0 10px;
  height: 50px;
  display: flex;
  align-items: center;
}
input {
  width: 50px;
  height: 30px;
}
label {
  margin-right: 5px;
}
.size {
  font-size: 15px;
  padding-left: 5px;
  width: 44px;
  height: 24px;
}
img {
  width: 100%;
}

/* trash can and download icon */
button {
  width: 40px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* trash can */
.clear img {
  width: 70%;
}

select {
  font-size: 15px;
  width: 74px;
  height: 30px;
  border: none;
}

/* Eraser icon */
.eraser {
  object-fit: cover;
  width: 100vw;
  height: 100vw;
}
.eraser-wrapper {
  width: 43px;
  height: 38px;
  overflow: hidden;
  display: block;
}
.eraser-wrapper .eraser {
  width: 90%;
  height: 90%;
}
/* hide the checkbox */
[type="checkbox"] {
  position: absolute;
  width: 43px;
  height: 38px;
  opacity: 0;
}
[type="checkbox"]:checked + img {
  border-bottom: 2px solid rgb(243, 80, 80);
}

/* Media queries */
@media (max-width: 750px) {
  /* SETTINGS BAR*/
  .settings {
    width: 85vw;
    margin: 20px auto;
    padding: 0 10px;
  }
  li {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  input {
    width: 35px;
  }
  .size {
    height: 30px;
    width: 30px;
  }

  /* trash can and download icon */
  button {
    width: 30px;
    height: 40px;
    margin: 0 5px;
  }

  /* Select shape */
  select {
    font-size: 13px;
    width: 64px;
  }

  /* erase icon */
  .eraser-wrapper {
    width: 34px;
    height: 29px;
    margin-right: 2px;
  }
  [type="checkbox"] {
    width: 34px;
    height: 29px;
  }
}
