* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(240, 227, 233, 0.733);
  width: 100vw;
  height: 100vh;
}

html,
body {
  position: fixed;
  overflow: hidden;
}
/* Settings bar */
.settings {
  background-color: rgb(241, 169, 235);
  width: 40vw;
  height: 60px;
  margin: 10px auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px outset rgb(241, 213, 239);
}
.clear {
  width: 30px;
  height: 40px;
  margin: 20px 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.clear img {
  width: 100%;
}
ul {
  display: flex;
  list-style-type: none;
  text-align: left;
  font-size: 20px;
  font-family: sans-serif;
}
li {
  padding: 0 10px;
}
input {
  width: 50px;
  height: 30px;
}
.size {
  font-size: 17px;
  padding-left: 5px;
}

/* Media queries */
@media (max-width: 500px) {
  .settings {
    width: 80vw;
    margin: 10px auto;
    padding: 0 20px;
  }
  ul {
    font-size: 15px;
  }
}
